<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lista de Productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    
     <header  th:fragment="header" class="header" style="background-color: #106669;">    
            <h1 style="color: black; font-family:cutive;"   >ForGentlement &<br> Ladies</h1>
            <nav class="navbar navbar-expand-lg navbar-dark bg-white">
                <div>
                    <div class="collapse navbar-collapse" id="navbarNav" style="">

                        <ul class="navbar-nav me-auto">
                            
                            <li class="nav-item">
                                <a class="nav-link" style="color: black; font-size: 20px; font-family: cutive; padding: 10px  30px;  text-decoration-line: underline;" th:href="@{/}">Home</a>
                            </li>
                            
                            <li class="nav-item" style="margin-right: 30px;"> 
                                <a class="nav-link" style="color: black;  font-size: 20px; font-family: cutive; padding: 10px 30px;  text-decoration-line: underline;"  th:href="@{/categorias/new}">New</a>
                            </li>

                            <li class="nav-item" style="margin-right: 30px;">
                                <a class="nav-link" style="color: black; font-size: 20px;  font-family: cutive; padding: 10px 30px;  text-decoration-line: underline;" th:href="@{/categorias/women}">Women</a>
                            </li>

                            <li class="nav-item" style="margin-right: 30px;">
                                <a class="nav-link" style="color: black; font-size: 20px; font-family: cutive; padding: 10px  30px;  text-decoration-line: underline;" th:href="@{/categorias/men}">Men</a>
                            </li>
                            

                            <li class="nav-item" style="margin-right: 30px;">
                                <a class="nav-link" style="color: black; font-size: 20px; font-family: cutive; padding: 10px  30px;  text-decoration-line: underline;" th:href="@{/categorias/kids}">Kids</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" style="color: black; font-size: 20px; font-family: cutive; padding: 10px  30px;  text-decoration-line: underline;" th:href="@{/categorias/season}">Season</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

    
    <div class="container mt-5">
        <h2 class="text-center">Lista de Productos</h2>
        <div class="row">
            <div class="col-md-4" th:each="producto : ${productos}">
                <div class="card mb-4">
                    <img th:src="${producto.imagen}" class="card-img-top" alt="Imagen del producto">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${producto.nombre}"></h5>
                        <p class="card-text">Precio: $<span th:text="${producto.precio}"></span></p>
                        <a th:href="@{/producto/{id}(id=${producto.id})}" class="btn btn-primary">Ver Detalles</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
            <footer th:fragment="footer" class="text-center p-3 bg-black text-white mt-5">
            <p>ForGentlements&Ladys © 2025</p>
        </footer>
    
</body>
</html>
