<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <script src="tu_archivo.js" defer></script>
        <title>Techshop</title>
        <meta charset="UTF-8"/>      
    </head>
    <body>
        <section th:fragment="tabs">
            <div class="row p-3">
                <ul class="nav nav-tabs justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link active text-dark" 
                           href="/pruebas/listado" 
                           style="color: black; font-size: 20px; font-family: Cutive, serif; padding: 10px 30px; text-decoration: underline;">
                            Pruebas
                        </a>
                    </li>
                    <li th:each="c : ${categorias}" class="nav-item">
                        <a class="nav-link text-dark" 
                           th:href="@{/pruebas/listado/}+${c.idCategoria}" 
                           style="color: black; font-size: 20px; font-family: Cutive, serif; padding: 10px 30px; text-decoration-line: underline;">
                            [[${c.descripcion}]]
                        </a>
                    </li>
                </ul>
            </div>
        </section>

        <section th:fragment="tarjetas">
            <div class="container mt-5">
                <h2 class="text-center">Lista de Productos</h2>
                <div class="row">
                    <div class="col-md-4 mb-4" th:each="p : ${productos}">
                        <div class="card h-100">
                            <img th:src="${p.rutaImagen}"
                                 class="card-img-top"
                                 alt="Imagen del producto"/>
                            <div class="card-body text-center">
                                <h5 class="card-title" th:text="${p.nombre}"></h5>
                                <p class="card-text">Precio: $<span th:text="${p.precio}"></span></p>
                            </div>
                            <div class="card-footer text-center">
                                <form> 
                                    <input type="hidden"
                                           name="idProducto"
                                           th:value='${p.idProducto}'/>
                                    <input type="hidden"
                                           name="existencias"
                                           th:value='${p.existencias}'/>
                                </form>
                                <a th:href="@{/pruebas/producto/}+${p.idProducto}" class="btn btn-primary">Ver Detalles</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="formulario">
            <div class="container mt-4">
                <div class="card shadow-lg p-4">
                    <h2 class="text-center mb-4">Contáctanos</h2>
                    <form th:action="@{/contacto/enviar}" method="post">
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese su nombre" required="true"></input>
                        </div>

                        <div class="mb-3">
                            <label for="email" class="form-label">Correo Electrónico <span class="text-danger">*</span></label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Ingrese su correo electrónico" 
                                   required="true"></input>
                        </div>

                        <div class="mb-3">
                            <label for="mensaje" class="form-label">Mensaje <span class="text-danger">*</span></label>
                            <textarea class="form-control" id="mensaje" name="mensaje" rows="4" placeholder="Escriba su mensaje" 
                                      required="true" minlength="10"></textarea>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-paper-plane"></i> Enviar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <section th:fragment="producto">
            <div class="container mt-5">
                <h2 class="text-center">Detalle del Producto</h2>
                <div class="card mx-auto" style="width: 50%;">
                    <img th:src="${producto.rutaImagen}" src="" class="card-img-top" alt="Imagen del producto"/>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${producto.nombre}"></h5>
                        <p class="card-text" th:text="${producto.descripcion}"></p>
                        <p class="card-text">Precio: $<span th:text="${producto.precio}"></span></p>

                        <a href="/pruebas/listado" class="btn btn-primary me-2">Volver a Productos</a>

                        <!-- Formulario de agregar al carrito -->
                        <form class="d-inline">
                            <input type="hidden" name="idProducto" th:value="${producto.idProducto}" />
                            <input type="hidden" name="existencias" th:value="${producto.existencias}" />
                            <button type="button" 
                                    onclick="addCart(this.form)" 
                                    class="btn btn-success">
                                <i class="fas fa-cart-plus"></i> Agregar al Carrito
                            </button>
                        </form>
                    </div>
                </div>
                <!-- Sección para mostrar las reseñas existentes -->
                <div class="mt-4">
                    <h3>Reseñas</h3>
                    <div th:if="${producto.reviews != null and not #lists.isEmpty(producto.reviews)}">
                        <div th:each="review : ${producto.reviews}" class="border p-2 mb-2">
                            <p>
                                <!-- comment  <strong th:text="${review.usuario}"></strong>  -->
                                <strong th:text="${review.usuario.nombre}">Nombre del usuario</strong>

                                <!-- Mostrar estrellas según la calificación -->
                                <span th:utext="${'★'.repeat(review.calificacion)}"></span>
                                <span th:utext="${'☆'.repeat(5 - review.calificacion)}"></span>
                            </p>
                            <p th:text="${review.comentario}"></p>
                        </div>
                    </div>
                    <div th:if="${producto.reviews == null or #lists.isEmpty(producto.reviews)}">
                        <p>No hay reseñas para este producto.</p>
                    </div>
                </div>

                <!-- Formulario para agregar una nueva reseña -->
                <div class="mt-4">
                    <h3>Agrega tu reseña</h3>
                    <form action="/reviews/agregar" method="post">
                        <input type="hidden" name="idProducto" th:value="${producto.idProducto}" />

                        <!-- CSRF TOKEN -->
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                        <div class="mb-3">
                            <label for="calificacion" class="form-label">Calificación:</label>
                            <select id="calificacion" name="calificacion" class="form-control" required="true">
                                <option value="1">1 estrella</option>
                                <option value="2">2 estrellas</option>
                                <option value="3">3 estrellas</option>
                                <option value="4">4 estrellas</option>
                                <option value="5">5 estrellas</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="comentario" class="form-label">Reseña:</label>
                            <textarea id="comentario" name="comentario" class="form-control" rows="3" required="true"></textarea>
                        </div>
                        <button type="submit" class="btn btn-success">Enviar Reseña</button>
                    </form>
                </div>
            </div>
        </section>
        <script src="/js/rutinas.js"></script>
    </body>
</html>